<template>
	<ul class="nav nav-tabs">
	  <router-link to="/" tag="li" active-class="active" exact>Home</router-link>
	  <router-link to="/user" tag="li" active-class="active">User</router-link>
	</ul>
</template>